.flex-container{
    display: flex;
}

#complete-items, 
#incomplete-items{
    flex: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#incomplete-items{
    border: 3px solid red;
}

#complete-items{
    border: 3px solid blue;
}

h1{
    text-align: center;
}

#comp{
    text-align: center;
}


label{
    width: 50%;
    text-align: right;
    display: inline-block;
}

input[type="button"]{
    margin-left: 50%;
    border-radius: 1em;
    cursor: pointer;
}

input[type=checkbox]{
    margin-left: 50%;
    margin: 0;
    cursor: pointer;
}

#incomplete-items .incomplete{
    background-color:rgb(182, 32, 6);
    width:fit-content;
    color: white;
    border: 1px solid black;
    border-radius: .2em;
    margin-top: .5em;

}

#complete-items .completed{
    background-color: rgb(28, 60, 243);
    color: white;
    width:fit-content;
    border: 1px solid black;
    border-radius: .8em;
    margin-top: .5em;
}

@media screen and (max-width: 650px) {
    #complete-items, 
    #incomplete-items {
      flex-direction:column;
    }
  }

